$main_color: aqua;
$bg_color: #1b256d;
$btn_bg_color: green;
$btn_bg_color: green;
$border_color: #01FFFF;
$card_bg_color: #0e709D;

.white {
  color: #fff;
}

.el-header {
  top: 80px;
}

.page_to_top {
  padding-top: 170px !important;
}

.page_to_top2 {
  padding-top: 80px;
}

